<style>
    body {
        background-image: url('');
        font-size: 22px;

    }
</style>

<h1>List of Favorite Pokemon</h1>

<% pokemon.forEach(poke=>{ %>
    <%=poke.dataValues.name%>    
    <br><br>
<% }) %> 